<div>
  <div class="d-flex justify-content-between">
    <h1>Clientes</h1>
    <button class="btn btn-primary my-2" (click)="navigateCadastroCliente()">Cadastrar</button>
  </div>
  <table class="table table-hover table-dark table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>E-Mail</th>
      <th>Agencia - Conta</th>
      <th class="text-center">Ações</th>
    </tr>
    </thead>
    <tbody>
      @for (cliente of clientes; track cliente) {
        <tr>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.contaBancaria.agencia }} - {{ cliente.contaBancaria.numero }}</td>
          <td>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary me-2" [routerLink]="['/cliente/editar', cliente.id]">Editar
              </button>
              <button class="btn btn-danger" (click)="openModalDelete(template, cliente)">Excluir</button>
            </div>

          </td>
        </tr>
      }

    </tbody>
  </table>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Realmente deseja deletar ?</p>
    <button type="button" class="btn btn-danger me-2" (click)="confirmDelete()">Deletar</button>
    <button type="button" class="btn btn-primary" (click)="exitModal()">Voltar</button>
  </div>
</ng-template>
